/**
 *   Handle image transition
 */
/* line 4, ../sass/home.scss */
#home {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

/* line 11, ../sass/home.scss */
.pic-1 {
  background: url(../img/ny.jpg) no-repeat center center fixed;
}

/* line 14, ../sass/home.scss */
.pic-2 {
  background: url(../img/cannel.jpg) no-repeat center center fixed;
}

/* line 17, ../sass/home.scss */
.pic-3 {
  background: url(../img/bear.jpg) no-repeat center center fixed;
}

/* line 20, ../sass/home.scss */
.pic-4 {
  background: url(../img/sf_night.jpg) no-repeat center center fixed;
}

/**
 *   Handle text
 */
/* line 28, ../sass/home.scss */
.home-text-container {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 90%;
  text-align: center;
}
@media screen and (max-width: 320px) {
  /* line 28, ../sass/home.scss */
  .home-text-container {
    margin-left: -140px !important;
  }
}

/* line 39, ../sass/home.scss */
#home button {
  margin-top: 30px;
  background-color: inherit;
  border: 2px solid #FFFFFF;
  color: #FFF;
  font-weight: 300;
  padding: 10px 25px;
  width: 275px;
  font-size: 26px;
  font-family: Raleway;
  text-shadow: none;
  cursor: pointer;
  box-shadow: 1px 1px 2px #969696;
}
/* line 52, ../sass/home.scss */
#home button:hover {
  background-color: #FFF;
  color: #444;
}
/* line 56, ../sass/home.scss */
#home button:focus {
  outline: none;
}
