/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 18, ../sass/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 28, ../sass/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../sass/reset.scss */
body {
  line-height: 1;
}

/* line 34, ../sass/reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../sass/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 41, ../sass/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../sass/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../sass/grid.scss */
[class*='col-'] {
  float: left;
  margin-right: 2%;
}

/* line 5, ../sass/grid.scss */
.col-1 {
  width: 100%;
  margin-right: 0%;
}

/* line 9, ../sass/grid.scss */
.col-3-4 {
  width: 73%;
}

/* line 12, ../sass/grid.scss */
.col-3-4.full {
  width: 75%;
  margin: 0%;
}

/* line 16, ../sass/grid.scss */
.col-2-3 {
  width: 64%;
}

/* line 19, ../sass/grid.scss */
.col-1-3 {
  width: 31.33%;
}

/* line 22, ../sass/grid.scss */
.col-1-2 {
  width: 48%;
}

/* line 25, ../sass/grid.scss */
.col-1-4 {
  width: 23%;
}

/* line 28, ../sass/grid.scss */
.col-1-4.full {
  width: 25%;
  margin: 0%;
}

/* line 32, ../sass/grid.scss */
.col-1-6 {
  width: 14.6%;
}

/* line 35, ../sass/grid.scss */
.col-1-8 {
  width: 10.5%;
}

/* line 38, ../sass/grid.scss */
.col-4 {
  width: 38%;
}

/* line 41, ../sass/grid.scss */
.col-6 {
  width: 58%;
}

/* line 44, ../sass/grid.scss */
.col-1 img, .col-1-8 img, .col-4 img, .col-6 img, .col-1-6 img, .col-1-4 img, .col-1-2 img, .col-1-3 img, .col-2-3 img, .col-3-4 img {
  max-width: 100%;
}

/* line 47, ../sass/grid.scss */
.col-1.first, .col-1-8.first, .col-4.first, .col-6.first, .col-1-6.first, .col-1-4.first, .col-1-2.first, .col-1-3.first, .col-2-3.first, .col-3-4.first {
  margin-right: 2%;
}

/* line 50, ../sass/grid.scss */
.col-1.mid, .col-1-8.mid, .col-4.mid, .col-6.mid, .col-1-6.mid, .col-1-4.mid, .col-1-2.mid, .col-1-3.mid, .col-2-3.mid, .col-3-4.mid {
  margin-right: 1%;
  margin-left: 1%;
}

/* line 54, ../sass/grid.scss */
.col-1.last, .col-1-8.last, .col-4.last, .col-6.last, .col-1-6.last, .col-1-4.last, .col-1-2.last, .col-1-3.last, .col-2-3.last, .col-3-4.last {
  margin-right: 0%;
  margin-left: 2%;
}

@media screen and (max-width: 800px) {
  /* line 59, ../sass/grid.scss */
  .col-1, .col-1-8, .col-1-6, .col-1-4, .col-1-2, .col-1-3, .col-2-3, .col-3-4, .col-3-4.full, .col-1-4.full, .col-4, .col-6 {
    width: 100%;
    margin-right: 0px;
    clear: both;
  }

  /* line 64, ../sass/grid.scss */
  .col-1.first, .col-1-8.first, .col-4.first, .col-6.first, .col-1-6.first, .col-1-4.first, .col-1-2.first, .col-1-3.first, .col-2-3.first, .col-3-4.first {
    margin-right: 0%;
  }

  /* line 67, ../sass/grid.scss */
  .col-1.mid, .col-1-8.mid, .col-4.mid, .col-6.mid, .col-1-6.mid, .col-1-4.mid, .col-1-2.mid, .col-1-3.mid, .col-2-3.mid, .col-3-4.mid {
    margin-right: 0%;
    margin-left: 0%;
  }

  /* line 71, ../sass/grid.scss */
  .col-1.last, .col-1-8.last, .col-4.last, .col-6.last, .col-1-6.last, .col-1-4.last, .col-1-2.last, .col-1-3.last, .col-2-3.last, .col-3-4.last {
    margin-right: 0%;
    margin-left: 0%;
  }
}
/* line 77, ../sass/grid.scss */
.row {
  overflow: hidden;
  clear: both;
  margin: 20px 0px;
}

/* Theme Echo Variable */
/* global styles */
/* line 3, ../sass/global.scss */
body {
  height: 100vh;
  background-color: #444;
  color: #FFF;
  font: 16px/26px "Open Sans", sans-serif;
}

/* line 10, ../sass/global.scss */
#sidebar {
  background-color: white;
  padding: 10px 0px;
  float: left;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  min-width: 75px;
  z-index: 100;
}
@media screen and (max-width: 720px) {
  /* line 10, ../sass/global.scss */
  #sidebar {
    height: auto;
    min-width: 55px;
  }
}
/* line 23, ../sass/global.scss */
#sidebar i {
  color: #444;
  font-size: 32px;
  margin: 10px 0px 10px 21px;
}
@media screen and (max-width: 720px) {
  /* line 23, ../sass/global.scss */
  #sidebar i {
    margin: 10px 0px 10px 10px;
  }
}
/* line 31, ../sass/global.scss */
#sidebar .hide {
  display: none;
  margin: 10px 16px 10px 152px;
}
@media screen and (max-width: 720px) {
  /* line 31, ../sass/global.scss */
  #sidebar .hide {
    margin: 16px;
  }
}
/* line 38, ../sass/global.scss */
#sidebar .vertical {
  bottom: 40px;
  position: absolute;
  left: 15px;
  width: 40px;
  cursor: pointer;
}
@media screen and (max-width: 720px) {
  /* line 38, ../sass/global.scss */
  #sidebar .vertical {
    transform: rotate(90deg);
    top: -67px;
    right: 95px;
    bottom: auto;
    left: auto;
    display: none !important;
  }
}
/* line 53, ../sass/global.scss */
#sidebar .horizontal {
  width: 177px;
  cursor: pointer;
  margin: 100px 0px 40px 8px;
}
@media screen and (max-width: 720px) {
  /* line 53, ../sass/global.scss */
  #sidebar .horizontal {
    display: none !important;
  }
}
/* line 61, ../sass/global.scss */
#sidebar .nav-links {
  display: none;
  width: 200px;
}
@media screen and (max-width: 720px) {
  /* line 61, ../sass/global.scss */
  #sidebar .nav-links {
    width: 720px;
  }
}
/* line 67, ../sass/global.scss */
#sidebar .nav-links ul {
  list-style-type: none;
  padding-right: 10px;
  padding-left: 0px;
  margin: 10px 0px;
}
/* line 72, ../sass/global.scss */
#sidebar .nav-links ul li {
  color: #444;
  display: block;
  width: 200px;
  cursor: pointer;
  padding: 10px 0px 10px 20px;
  border-left: 4px solid #f1f1f1;
}
/* line 79, ../sass/global.scss */
#sidebar .nav-links ul li:hover {
  border-left: 4px solid #444444;
  color: #AAA;
}
/* line 84, ../sass/global.scss */
#sidebar .nav-links ul .sub-links {
  display: none;
  padding-left: 30px;
}
/* line 88, ../sass/global.scss */
#sidebar .nav-links ul .sub-links li:hover {
  border-left: 4px solid #f1f1f1;
}

/* line 97, ../sass/global.scss */
[data-section="travel"] {
  display: none;
}
/* line 99, ../sass/global.scss */
[data-section="travel"] h1 {
  margin-bottom: 40px;
}
/* line 102, ../sass/global.scss */
[data-section="travel"] nav {
  position: fixed;
  margin-top: 40px;
}
@media screen and (max-width: 1270px) {
  /* line 102, ../sass/global.scss */
  [data-section="travel"] nav {
    position: static;
  }
}
/* line 108, ../sass/global.scss */
[data-section="travel"] nav h4 {
  font-weight: bold;
  margin-bottom: 30px;
}
/* line 112, ../sass/global.scss */
[data-section="travel"] nav .col {
  float: left;
}
/* line 115, ../sass/global.scss */
[data-section="travel"] nav ul {
  padding: 0px;
  padding-left: 10px;
  list-style-type: none;
}
/* line 119, ../sass/global.scss */
[data-section="travel"] nav ul li {
  color: #ccc;
  cursor: pointer;
}
/* line 122, ../sass/global.scss */
[data-section="travel"] nav ul li:first-child {
  color: #fff;
}
/* line 125, ../sass/global.scss */
[data-section="travel"] nav ul li:hover {
  color: #fff;
}
/* line 131, ../sass/global.scss */
[data-section="travel"] .img-container {
  position: relative;
  display: block;
}
/* line 135, ../sass/global.scss */
[data-section="travel"] img {
  min-height: 100%;
  display: block;
}
/* line 139, ../sass/global.scss */
[data-section="travel"] .img-container:hover .image-hover {
  display: block;
}
/* line 142, ../sass/global.scss */
[data-section="travel"] .image-hover {
  display: none;
  transition: all .5s ease;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.75);
  width: 96%;
  height: 94%;
  cursor: pointer;
  padding: 2%;
  text-align: center;
}
/* line 152, ../sass/global.scss */
[data-section="travel"] .image-hover .text-wrapper {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 157, ../sass/global.scss */
[data-section="travel"] .image-hover .text-wrapper h3 {
  color: #666;
  font-weight: bold;
}
/* line 161, ../sass/global.scss */
[data-section="travel"] .image-hover .text-wrapper p {
  color: #666;
}
/* line 164, ../sass/global.scss */
[data-section="travel"] .image-hover .text-wrapper .hide {
  display: none;
}
@media screen and (max-width: 800px) {
  /* line 164, ../sass/global.scss */
  [data-section="travel"] .image-hover .text-wrapper .hide {
    display: block;
  }
}
/* line 170, ../sass/global.scss */
[data-section="travel"] .image-hover .text-wrapper i {
  color: #666;
  font-size: 40px;
  padding: 0px 7px;
  border: 2px solid #666;
  font-size: 25px;
  padding: 0px 4px;
}
/* line 177, ../sass/global.scss */
[data-section="travel"] .image-hover .text-wrapper i:hover {
  background-color: #666;
  color: #fff;
}
@media screen and (max-width: 800px) {
  /* line 184, ../sass/global.scss */
  [data-section="travel"] .row [class*='col-']:nth-child(2) {
    margin-top: 20px;
  }
}

/* line 190, ../sass/global.scss */
[data-section="about"] {
  display: none;
}

/* line 193, ../sass/global.scss */
[data-section="blog"] {
  display: none;
}

/* line 196, ../sass/global.scss */
[data-section="contact"] {
  display: none;
}

/* line 199, ../sass/global.scss */
[data-section="colophon"] {
  display: none;
}

/* line 202, ../sass/global.scss */
.container {
  padding: 20px;
  overflow: hidden;
  margin-left: 100px;
}
@media screen and (max-width: 800px) {
  /* line 202, ../sass/global.scss */
  .container {
    margin-left: 76px;
  }
}
@media screen and (max-width: 720px) {
  /* line 202, ../sass/global.scss */
  .container {
    width: 96%;
    margin-left: 0px !important;
    padding: 60px 2% 0px 2%;
  }
}

/* line 215, ../sass/global.scss */
[data-section="colophon"] [data-subsection="grid"] [class*='col-'] {
  background-color: #f1f1f1;
  border-radius: 3px;
  text-align: center;
  color: #444;
}

/* line 221, ../sass/global.scss */
[data-section="colophon"] [data-subsection="grid"] [class*='col-'] p {
  margin: 10px 0px;
}

/* Headings
-------------------------------------------------------------- */
/* line 9, ../sass/typography.scss */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin: 0 0 0.75rem;
  color: #222;
  font-weight: 700;
  font-family: inherit;
  line-height: 1.333;
  text-rendering: optimizeLegibility;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

/* line 21, ../sass/typography.scss */
h1, .h1 {
  font-size: 1.777rem;
}

/* line 22, ../sass/typography.scss */
h2, .h2 {
  font-size: 1.333rem;
}

/* line 23, ../sass/typography.scss */
h3, .h3 {
  font-size: 1.125rem;
}

/* line 27, ../sass/typography.scss */
h4, .h4,
h5, .h5,
h6, .h6 {
  font-size: 1rem;
}

@media only screen and (min-width: 600px) {
  /* line 30, ../sass/typography.scss */
  h1, .h1 {
    font-size: 3.157rem;
  }

  /* line 31, ../sass/typography.scss */
  h2, .h2 {
    font-size: 2.369rem;
  }

  /* line 32, ../sass/typography.scss */
  h3, .h3 {
    font-size: 1.777rem;
  }

  /* line 33, ../sass/typography.scss */
  h4, .h4 {
    font-size: 1.333rem;
  }

  /* line 36, ../sass/typography.scss */
  h5, .h5,
  h6, .h6 {
    font-size: 1rem;
  }
}
/* Text elements
-------------------------------------------------------------- */
/* line 42, ../sass/typography.scss */
p {
  margin: 0 0 1.5em;
  font-size: 16px;
  line-height: 20px;
}

/* 
	These can be used to pull an image at the start of a paragraph, so 
	that the text flows around it (usage: <p><img class="left">Text</p>) 
 */
/* line 47, ../sass/typography.scss */
.left {
  float: left !important;
}

/* line 48, ../sass/typography.scss */
p .left {
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}

/* line 49, ../sass/typography.scss */
.right {
  float: right !important;
}

/* line 50, ../sass/typography.scss */
p .right {
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}

/* line 53, ../sass/typography.scss */
a:focus,
a:hover {
  color: #09f;
}

/* line 54, ../sass/typography.scss */
a {
  text-decoration: none;
}

/* line 56, ../sass/typography.scss */
blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic;
}

/* line 57, ../sass/typography.scss */
strong, dfn {
  font-weight: bold;
}

/* line 58, ../sass/typography.scss */
em, dfn {
  font-style: italic;
}

/* line 59, ../sass/typography.scss */
sup, sub {
  line-height: 0;
}

/* line 62, ../sass/typography.scss */
abbr,
acronym {
  border-bottom: 1px dotted #666;
}

/* line 63, ../sass/typography.scss */
address {
  margin: 0 0 1.5em;
  font-style: italic;
}

/* line 64, ../sass/typography.scss */
del {
  color: #666;
}

/* line 66, ../sass/typography.scss */
pre {
  margin: 1.5em 0;
  white-space: pre;
}

/* line 67, ../sass/typography.scss */
pre, code, tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5;
}

/* Lists
-------------------------------------------------------------- */
/* line 74, ../sass/typography.scss */
li ul,
li ol {
  margin: 0;
}

/* line 75, ../sass/typography.scss */
ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}

/* line 77, ../sass/typography.scss */
ul {
  list-style-type: disc;
}

/* line 78, ../sass/typography.scss */
ol {
  list-style-type: decimal;
}

/* line 80, ../sass/typography.scss */
dl {
  margin: 0 0 1.5em 0;
}

/* line 81, ../sass/typography.scss */
dl dt {
  font-weight: bold;
}

/* line 82, ../sass/typography.scss */
dd {
  margin-left: 1.5em;
}

/* Tables
-------------------------------------------------------------- */
/* 
	Because of the need for padding on TH and TD, the vertical rhythm 
	on table cells has to be 27px, instead of the standard 18px or 36px 
	of other elements. 
 */
/* line 93, ../sass/typography.scss */
table {
  margin-bottom: 1.4em;
  width: 100%;
}

/* line 94, ../sass/typography.scss */
th {
  font-weight: bold;
}

/* line 95, ../sass/typography.scss */
thead th {
  background: #c3d9ff;
}

/* line 96, ../sass/typography.scss */
th, td, caption {
  padding: 4px 10px 4px 5px;
}

/*
	You can zebra-stripe your tables in outdated browsers by adding 
	the class "even" to every other table row. 
 */
/* line 102, ../sass/typography.scss */
tbody tr:nth-child(even) td,
tbody tr.even td {
  background: #e5ecf9;
}

/* line 105, ../sass/typography.scss */
tfoot {
  font-style: italic;
}

/* line 106, ../sass/typography.scss */
caption {
  background: #eee;
}

/* Misc classes
-------------------------------------------------------------- */
/* line 112, ../sass/typography.scss */
.small {
  font-size: .8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}

/* line 113, ../sass/typography.scss */
.large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}

/* line 114, ../sass/typography.scss */
.hide {
  display: none;
}

/* line 116, ../sass/typography.scss */
.quiet {
  color: #666;
}

/* line 117, ../sass/typography.scss */
.loud {
  color: #000;
}

/* line 118, ../sass/typography.scss */
.highlight {
  background: #ff0;
}

/* line 119, ../sass/typography.scss */
.added {
  background: #060;
  color: #fff;
}

/* line 120, ../sass/typography.scss */
.removed {
  background: #900;
  color: #fff;
}

/* line 122, ../sass/typography.scss */
.first {
  margin-left: 0;
  padding-left: 0;
}

/* line 123, ../sass/typography.scss */
.last {
  margin-right: 0;
  padding-right: 0;
}

/* line 124, ../sass/typography.scss */
.top {
  margin-top: 0;
  padding-top: 0;
}

/* line 125, ../sass/typography.scss */
.bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}

/**
 *   Handle image transition
 */
/* line 4, ../sass/home.scss */
#home {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

/* line 11, ../sass/home.scss */
.pic-1 {
  background: url(../img/ny.jpg) no-repeat center center fixed;
}

/* line 14, ../sass/home.scss */
.pic-2 {
  background: url(../img/cannel.jpg) no-repeat center center fixed;
}

/* line 17, ../sass/home.scss */
.pic-3 {
  background: url(../img/bear.jpg) no-repeat center center fixed;
}

/* line 20, ../sass/home.scss */
.pic-4 {
  background: url(../img/sf_night.jpg) no-repeat center center fixed;
}

/**
 *   Handle text
 */
/* line 28, ../sass/home.scss */
.home-text-container {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 90%;
  text-align: center;
}
@media screen and (max-width: 320px) {
  /* line 28, ../sass/home.scss */
  .home-text-container {
    margin-left: -140px !important;
  }
}

/* line 39, ../sass/home.scss */
#home button {
  margin-top: 30px;
  background-color: inherit;
  border: 2px solid #FFFFFF;
  color: #FFF;
  font-weight: 300;
  padding: 10px 25px;
  width: 275px;
  font-size: 26px;
  font-family: Raleway;
  text-shadow: none;
  cursor: pointer;
  box-shadow: 1px 1px 2px #969696;
}
/* line 52, ../sass/home.scss */
#home button:hover {
  background-color: #FFF;
  color: #444;
}
/* line 56, ../sass/home.scss */
#home button:focus {
  outline: none;
}
