/* Headings
-------------------------------------------------------------- */
/* line 9, ../sass/typography.scss */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin: 0 0 0.75rem;
  color: #222;
  font-weight: 700;
  font-family: inherit;
  line-height: 1.333;
  text-rendering: optimizeLegibility;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

/* line 21, ../sass/typography.scss */
h1, .h1 {
  font-size: 1.777rem;
}

/* line 22, ../sass/typography.scss */
h2, .h2 {
  font-size: 1.333rem;
}

/* line 23, ../sass/typography.scss */
h3, .h3 {
  font-size: 1.125rem;
}

/* line 27, ../sass/typography.scss */
h4, .h4,
h5, .h5,
h6, .h6 {
  font-size: 1rem;
}

@media only screen and (min-width: 600px) {
  /* line 30, ../sass/typography.scss */
  h1, .h1 {
    font-size: 3.157rem;
  }

  /* line 31, ../sass/typography.scss */
  h2, .h2 {
    font-size: 2.369rem;
  }

  /* line 32, ../sass/typography.scss */
  h3, .h3 {
    font-size: 1.777rem;
  }

  /* line 33, ../sass/typography.scss */
  h4, .h4 {
    font-size: 1.333rem;
  }

  /* line 36, ../sass/typography.scss */
  h5, .h5,
  h6, .h6 {
    font-size: 1rem;
  }
}
/* Text elements
-------------------------------------------------------------- */
/* line 42, ../sass/typography.scss */
p {
  margin: 0 0 1.5em;
  font-size: 16px;
  line-height: 20px;
}

/* 
	These can be used to pull an image at the start of a paragraph, so 
	that the text flows around it (usage: <p><img class="left">Text</p>) 
 */
/* line 47, ../sass/typography.scss */
.left {
  float: left !important;
}

/* line 48, ../sass/typography.scss */
p .left {
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}

/* line 49, ../sass/typography.scss */
.right {
  float: right !important;
}

/* line 50, ../sass/typography.scss */
p .right {
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}

/* line 53, ../sass/typography.scss */
a:focus,
a:hover {
  color: #09f;
}

/* line 54, ../sass/typography.scss */
a {
  text-decoration: none;
}

/* line 56, ../sass/typography.scss */
blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic;
}

/* line 57, ../sass/typography.scss */
strong, dfn {
  font-weight: bold;
}

/* line 58, ../sass/typography.scss */
em, dfn {
  font-style: italic;
}

/* line 59, ../sass/typography.scss */
sup, sub {
  line-height: 0;
}

/* line 62, ../sass/typography.scss */
abbr,
acronym {
  border-bottom: 1px dotted #666;
}

/* line 63, ../sass/typography.scss */
address {
  margin: 0 0 1.5em;
  font-style: italic;
}

/* line 64, ../sass/typography.scss */
del {
  color: #666;
}

/* line 66, ../sass/typography.scss */
pre {
  margin: 1.5em 0;
  white-space: pre;
}

/* line 67, ../sass/typography.scss */
pre, code, tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5;
}

/* Lists
-------------------------------------------------------------- */
/* line 74, ../sass/typography.scss */
li ul,
li ol {
  margin: 0;
}

/* line 75, ../sass/typography.scss */
ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}

/* line 77, ../sass/typography.scss */
ul {
  list-style-type: disc;
}

/* line 78, ../sass/typography.scss */
ol {
  list-style-type: decimal;
}

/* line 80, ../sass/typography.scss */
dl {
  margin: 0 0 1.5em 0;
}

/* line 81, ../sass/typography.scss */
dl dt {
  font-weight: bold;
}

/* line 82, ../sass/typography.scss */
dd {
  margin-left: 1.5em;
}

/* Tables
-------------------------------------------------------------- */
/* 
	Because of the need for padding on TH and TD, the vertical rhythm 
	on table cells has to be 27px, instead of the standard 18px or 36px 
	of other elements. 
 */
/* line 93, ../sass/typography.scss */
table {
  margin-bottom: 1.4em;
  width: 100%;
}

/* line 94, ../sass/typography.scss */
th {
  font-weight: bold;
}

/* line 95, ../sass/typography.scss */
thead th {
  background: #c3d9ff;
}

/* line 96, ../sass/typography.scss */
th, td, caption {
  padding: 4px 10px 4px 5px;
}

/*
	You can zebra-stripe your tables in outdated browsers by adding 
	the class "even" to every other table row. 
 */
/* line 102, ../sass/typography.scss */
tbody tr:nth-child(even) td,
tbody tr.even td {
  background: #e5ecf9;
}

/* line 105, ../sass/typography.scss */
tfoot {
  font-style: italic;
}

/* line 106, ../sass/typography.scss */
caption {
  background: #eee;
}

/* Misc classes
-------------------------------------------------------------- */
/* line 112, ../sass/typography.scss */
.small {
  font-size: .8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}

/* line 113, ../sass/typography.scss */
.large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}

/* line 114, ../sass/typography.scss */
.hide {
  display: none;
}

/* line 116, ../sass/typography.scss */
.quiet {
  color: #666;
}

/* line 117, ../sass/typography.scss */
.loud {
  color: #000;
}

/* line 118, ../sass/typography.scss */
.highlight {
  background: #ff0;
}

/* line 119, ../sass/typography.scss */
.added {
  background: #060;
  color: #fff;
}

/* line 120, ../sass/typography.scss */
.removed {
  background: #900;
  color: #fff;
}

/* line 122, ../sass/typography.scss */
.first {
  margin-left: 0;
  padding-left: 0;
}

/* line 123, ../sass/typography.scss */
.last {
  margin-right: 0;
  padding-right: 0;
}

/* line 124, ../sass/typography.scss */
.top {
  margin-top: 0;
  padding-top: 0;
}

/* line 125, ../sass/typography.scss */
.bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
